* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}


#top-nav{
	position: fixed;
	z-index: 1;
	background-color: rgba(12, 0, 0, 0.62);
	height: 11vh;
	width: 100%;
}
.logo-container{
	position: absolute;
	left: 12vw;
	top: 25%;
}

.logo{
	fill: white;

}
.nav-items{
	position : absolute;
	left: 55vw;
	top: 40%;
}

.nav-items li{
	display: inline;
	margin-left: 2vw;
}	

.nav-items li a{
	color: white;
	font-weight: 600;
	text-decoration: none;
}

.nav-items li a:hover{
	color:rgb(49, 218, 16);
}

.profile-button{
	height: 5vh;
	display: inline-block;
    border: none;
    text-decoration: none;
    background: #00000000;
    color: #ffffff;
	font-weight: 600;
	font-size: 2.3vh;
    cursor: pointer;
    text-align: center;
}
#profile-icon{
	position: absolute;
	height: 5vh;
	border-radius: 50%;
	top: 20%;
}
#profile-text{
	position:absolute;
	top:50%;
	margin-left: 3vw;
}


#banner-top{
	background-color: #eebb5c;
	height: 85%;

}   

#banner-top-text-holder{
	width: 100%;
	position: absolute;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);
}
#banner-top-text{
	top: 0%;
	left: 0%;
	color: white;
	font-weight: 800;
	text-align: center;
	font-size: 9vh;
	font-weight: bolder;
}



#banner-middle{
	height: 150%;
}
#banner-bottom{
	background-color: black;
	height: 70%;
}